.form-container {
  margin: 1.5rem auto;
  text-align: center;
  padding: 1rem;
  background: rgb(245, 255, 255);
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  width: 40rem;
}

.form-container > h1 {
  margin: 2rem 0;
  color: rgb(0, 121, 105);
}

.form-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin: 1rem 10rem;
  text-align: left;
}

.form-div label {
  color: rgb(0, 51, 35);
}

.form-div input {
  border-radius: 3px;
  border: solid 1px #555555;
  padding: 3px;
  font-size: 0.9rem;
}

.form-container > button {
  border-radius: 3px;
  border: solid 1px #003019;
  padding: 0.4rem;
  background-color: #007740;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}

.series-list {
  margin: 1.5rem auto;
  text-align: center;
  background: rgb(245, 255, 255);
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  width: 40rem;
}

.series-item{
  padding: 1.5rem;
  text-align: left;
  color: #003019;
}

.series-cover{
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

